.vscode/
*.ipynb_checkpoints
*.csv
*.zip
*.pdf
*.Rproj
library/**
FED-api-key
keys/**
data/**
notebooks/tmp/**
notebooks/temp/**
notebooks/ipynb_checkpoints/**
notebooks/__pycache__/**
research/**
library/**
research-notebook.adoc
Notes.md
logs-*
notebooks/**
Untitled*
.Rproj.user
.Rhistory
configs-data.py
mobile-notes.md
Notes-cleaned.md
reformat-markdown.ipynb
toc.md
